<!-- fake-call.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Fake Call</title>
  <link rel="stylesheet" href="/static/css/fake-call.css">
</head>
<body>
  <div class="caller-info">
    <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="Caller" width="200" />
    <div class="caller-name">100</div>
    <div class="status">Ringing...</div>
    <div>
   <button class="end-call1" onclick="endCall()"><img class="imgstyle1" src="../static/assets/3687415.png" alt=""></button>
   <button class="end-call" onclick="endCall()"><img class="imgstyle" src="../static/assets/8702003.png" alt=""></button>
   <button class="end-call2"><img class="imgstyle2" src="../static/assets/images (3).png" alt=""></button>
    </div>
 
  </div>

  <audio id="ringtone" autoplay loop>
    <source src="https://www.soundjay.com/phone/sounds/telephone-ring-03a.mp3" type="audio/mp3" />
  </audio>

  <script src="/static/js/fake-call.js">
   
  </script>
</body>
</html>
