<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <title>Women Safety Web App</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div id ="index-title">
    <header>Women Safety Portal System</header>
    <nav>
        <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="alert.html">Alert</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    </div>
    <section>
        <h1>Your Safety, Our Priority</h1>
        <h3>Empowering women through technology</h3>
        <button onclick="checkLogin()">🚨 Send Alert</button>

    </section>

      <section class="features">
    <h2>Key Features</h2>
    <div class="feature-list">
        <div class="card">📍 Live GPS Tracking</div>
        <div class="card">🚨 Emergency Alert System</div>
        <div class="card">🎥 Automatic Video Recording</div>
        <div class="card">📞 Fake Call for Distraction</div>
        <div class="card">🔒 Secure Login & History</div>
    </div>
  </section>
  
  <section class="about">
    <div>
    <div class="left-column">
    <h2>About</h2>
    <p class="about-content">  This platform is developed to assist women in dangerous situations by providing quick and smart safety features. 
        With real-time location tracking, emergency alerts, and fake call triggering, this web app helps women stay safe 
        and connected with their trusted contacts. It empowers users with technology that is simple, accessible, and effective.</p>
    </div>
    <div class="right-column">
    <img id="about-img" src="/static/assets/img1.jpg" alt="noload">
    </div>
    </div>
  </section>

    <footer>
         <p>&copy; 2025 Women Safety App. All rights reserved.</p>
          <button onclick="logout()">Logout</button>
    </footer>

     <script src="/static/js/index.js">

  </script>
</body>
</html>
